
# path to boost library
BOOST_HOME = None

# is boost_python-mt or plain boost_python
BOOST_PYTHON_MT = False

# path to python development headers
PYTHON_HOME = None

# path to Google V8 (must be built)
V8_HOME = None

# path to other include directories
INCLUDE = None

# path to other library directories
LIB = None

# enable debug mode (links to v8_g instead of v8)
DEBUG = False

